doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
      // socket.io specific code
      var socket = io.connect();

      socket.on('connect', function () {
        $('#chat').addClass('connected');
        message('System','connected');
      });

      socket.on('JoinRoom',function(msg){
        message('System','Join Room: '+msg);
        var socket2 = io.connect(msg);
        socket2.on('connect', function() {
          message('System','Joined room: '+msg);
           socket2.on('spin',function(msg){
             message('System','Spin: '+msg.spin+', salt: '+msg.salt);
           });
           socket2.on('newHash',function(msg){
             message('System','Hash: '+ msg.hash);
          });
           socket2.on('timeLeft',function(msg){
            message('System','Time Left: '+msg);
          });
          setInterval(function() { 
             socket2.emit('timeLeft');
            },1000);
          })
      });

      socket.on('error', function (e) {
        message('System', e ? e : 'A unknown error occurred');
      });

      function message (from, msg) {
        $('#lines').append($('<p>').append($('<b>').text(from), msg));
      }

      // dom manipulation
      $(function () {
        

        $('#send-message').submit(function () {
          message('me', $('#message').val());
          socket.emit('user message', $('#message').val());
          clear();
          $('#lines').get(0).scrollTop = 10000000;
          return false;
        });

        function clear () {
          $('#message').val('').focus();
        };
      });
  body
    #chat
      #connecting
        .wrap Connecting to socket.io server
      #messages
        #nicknames
        #lines
      form#send-message
        input#message
        button Send
