<div id="wheelWrapper" class="left">
	<div id="wheelArrow"><img src="/images/arrow.png"></div>
	<img src="/images/wheel.png" id="wheel" />
	<div id="wheelInformation">
		<strong>sha256(spin + salt):</strong>&nbsp;<span id="spinHash"></span><br />
		<strong>spin + salt:</strong>&nbsp;<span id="spinToHash"></span>
	</div>
</div>
</div>
<div id="rightArea">
	<div class="area">
		<h2>Betting</h2>
		<div class="area-content">
			
		</div>
	</div>
	<div class="area">
		<h2>Chat</h2>
		<div id="chat" class="areaContent">
			<div id="chatMessages">
			</div>
			<div id="chatInput">
				<input type='text' id='txtChat' />
			</div>
		</div>
	</div>
</div>