<div id="wheelWrapper" class="left">
	<div id="wheelArrow"><img src="/images/arrow.png"></div>
	<img src="/images/wheel.png" id="wheel" />
	<div id="wheelInformation">
		<strong>sha256(spin + salt):</strong>&nbsp;<span id="spinHash"></span><br />
		<strong>spin + salt:</strong>&nbsp;<span id="spinToHash"></span>
	</div>
</div>
</div>
<div id="rightArea">
	<div class="area">
		<h2>Betting</h2>
		<div id="bettingArea" class="area-content">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>
							Zone
						</th>
						<th>Amount</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr id="bet-new-wrap">
						<td>
							<select id="ddBetZone" class="bet-zone">
								<option value="-1">Select a zone</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="joker">Joker (40)</option>
								<option value="flag">Flag (40)</option>
							</select>
						</td>
						<td>
							<input type="text" id="txtBetAmount" class="bet-amount" value="0.00" />	
						</td>
						<td>
							<input type="button" id="btnAddBet" class="button-small button-grey button-border" value="Add" />
						</td>
					</tr>
				</tbody>
			</table>
			<br />
			<input type="button" id="btnReady" class="button-large button-green button-border" value="Ready" style="width: 100%;" />
		</div>
	</div>
	<div class="area">
		<h2>Chat</h2>
		<div id="chat" class="areaContent">
			<div id="chatMessages">
			</div>
			<div id="chatInput">
				<input type='text' id='txtChat' />
			</div>
		</div>
	</div>
</div>