<div id="wheelWrapper" class="left">
	<div id="wheelArrow"><img src="/images/arrow.png"></div>
	<img src="/images/wheel.png" id="wheel" />
	<div id="wheelInformation">
		<strong>sha256(spin + salt):</strong>&nbsp;<span id="spinHash"></span><br />
		<strong>spin + salt:</strong>&nbsp;<span id="spinToHash"></span>
	</div>
</div>
</div>
<div id="rightArea">
	Test	Test	Test	Test	Test	Test	Test	Test
</div>