<div id="wheelWrapper" class="left">
	<div id="wheelArrow"><img src="/images/arrow.png"></div>
	<img src="/images/wheel.png" id="wheel" />
	<div id="wheelInformation">
		<strong>sha256(spin + salt):</strong>&nbsp;<span id="spinHash"></span><br />
		<strong>spin + salt:</strong>&nbsp;<span id="spinToHash"></span>
	</div>
</div>
</div>
<div id="rightArea">
	<div class="area">
		<h2>Betting</h2>
		<div id="bettingArea" class="area-content">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>
							Zone
						</th>
						<th>Amount</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr id="bet-new-wrap">
						<td>
							<select id="ddBetZone" class="bet-zone">
								<option value="-1">Select a zone</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="joker">Joker (40)</option>
								<option value="flag">Flag (40)</option>
							</select>
						</td>
						<td>
							<input type="text" id="txtBetAmount" class="bet-amount" value="0.00" />	
						</td>
						<td>
							<input type="button" id="btnAddBet" class="button-small button-grey button-border" value="Add" />
						</td>
					</tr>
				</tbody>
			</table>
			<br />
			<input type="button" id="btnReady" class="button-large button-green button-border" value="Ready" style="width: 100%;" />
		</div>
	</div>
	<div class="area">
		<h2>Chat</h2>
		<div id="chat" class="areaContent">
			<div id="chatMessages">
			</div>
			<div id="chatInput">
				<input type='text' id='txtChat' />
			</div>
		</div>
	</div>
	<div class="area">
		<h2>FAQ</h2>
		<div class="areaContent">
			<ol>
				<li>
					How do I update my balance?
					<ol>
						<li>The balance updates every few seconds, once you deposit bitcoins simply wait until the page updates your balance, if the network is particularily slow you can also come back later just be sure to bookmark the page with your secret code.</li>
					</ol>
				</li>
				<li>
					How can I come back to the game later?
					<ol>
						<li>Simply book mark the page.  The url contains a special unique secret code for your account.</li>
					</ol>
				</li>
				<li>
					How do I play?
					<ol>
						<li>
							First deposit some bitcoins at the address on the top edge of the screen, once you have some bitcoins in your account you can place a bet on where you think the wheel will land on the next spin.  The bets pay as follows
							<ol>
								<li>1 - 1:1</li>
								<li>2 - 2:1</li>
								<li>5 - 5:1</li>
								<li>10 - 10:1</li>
								<li>20 - 20:1</li>
								<li>Flag - 40:1</li>
								<li>Joker - 40:1</li>
							</ol>
						</li>
						<li>If you win your bet remains on the table until you pull it down.  If you loose the bank takes your bet.  Just like at the casino.  You can increase or decrease your bets at anytime except for when the wheel is spinning.</li>
					</ol>
				</li>
				<li>
					How can I withdraw my bitcoins?
					<ol>
						<li>Simply click the withdraw button at the top right of the screen.  If you don’t have a balance it wont show up, but don’t worry as soon as you have a confirmed balance greater than or equal to 0.01 BTC it will appear.  Once you click on it it will prompt you for how much you want to withdraw and the address to send the bitcoins to.</li>
					</ol>
				</li>
			</ol>
		</div>
	</div>
</div>