<!doctype html>
<html lang="en" class="no-js">
	<head>
	  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<title>Bitcoin Wheel - <%= title %></title>
		
		<link href='http://fonts.googleapis.com/css?family=Damion|Varela&subset=latin&v2' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="style.css">
	</head>
	<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
	<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
	<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
	<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
		<div id="container">
			<header>
				The Bitcoin Wheel
			</header>

			<div id="main">
				<%= body %>
			</div>

			<footer>
				<%= footer %>
			</footer>
		</div>
		<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</body>
</html>